@{
    ViewData["Title"] = "Index";
}
<h1 style="color:darkgreen">Notice</h1>

<html lang="en">

<head>
    <title>Notice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Notice Sectiion Begin -->
    <section class="about-section">
        <br>
        <div class="container-fluid">
            <div class="row text-left">

                <div class="col-xl-10">
                    <div class="single-team">
                        <h4>Schedule</h4>
                        <div class="membr-pic">
                            <img width="1100" height="300" src="../images/schedule2020.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <h3>Latest Notice</h3>
                    <div class="pdf">
                        <embed width="550" height="810" src="../images/NoticeOct2020.pdf">
                    </div>
                </div>
                <div class="col-xl-6">
                    <h3>Previous Notice</h3>
                    <div class="pdf">
                        <embed width="550" height="810" src="../images/NoticeSept2020.pdf">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Notice Sectiion End -->
</body>
</html>