@{
    ViewData["Title"] = "About Us";
}

<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Main photo Section Begin -->
    <section class="main_photo-section">
        <div class="container">
            <div class="row">
                <div class="container" style="background-image: url(../images/UYOCover.png); width: 1120px; height: 400px;">
                    <h1 style="color:white">About Us</h1>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- Main photo Section End -->
    <!-- About Sectiion Begin -->
    <section class="about-section">
        <br>
        <div class="container-fluid">
            <div class="row text-left">
                <div class="col-xl-6 about-text-warp">
                    <div class="room-items">
                        <h2>History</h2>
                        <br>
                        <h5 style="color: darkslategrey">
                            Since its formation, the orchestra has become the premier youth orchestra of the Waikato region,
                            performing three or four concerts each year including rest home visits. Our major concert,
                            performed in the WEL Energy Trust Academy of Performing Arts at the University of Waikato in Hamilton,
                            is usually in mid-October.
                            We travelled to New Plymouth in 2005, 2009 and 2013 to take part in a joint concert with the Taranaki Youth Orchestra (TYO).
                            TYO came to Hamilton to take part in concerts with us in 2003, 2007 and in 2011.
                            We went to Te Puke (Bay of Plenty) in 2006, 2010 and in 2012.
                            We also had a joint concert with North Shore Youth Orchestra in 2011.
                            In 2019, United Youth Orchestra and other three Orchestras had been together for their first ever combined camp at the Cambridge Avantidrome.
                        </h5>
                        <br>
                        <h5 style="color: darkslategrey">
                            The Orchestra is indebted to the many years of support from Sponsors, private donors and Friends.
                            <br>The purpose and the objective of UYO:
                            <br>to bring young musicians who share a love for orchestra music to play together and to train them through weekly rehearsals;
                            <br>to help them develop musically through workshops, encourage them to perform with other orchestra and play in ensembles an solo in the public concerts ;
                            <br>to provide a friendly environment for young people to get together for social activities. ;
                            <br>We aim to hold 3 to 4 public concerts in a year to promote classical music.
                        </h5>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single-team">
                        <h3>First panel (2003~2014)</h3>
                        <div class="membr-pic">
                            <img width="540" height="370" src="../images/board.jpg">
                        </div>
                        <h3>Second panel (2015~)</h3>
                        <div class="membr-pic">
                            <img width="540" height="370" src="../images/board3.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-team">
                        <br />
                        <h4>Resthome visit</h4>
                        <div class="membr-pic">
                            <img width="360" height="480" src="../images/activity2017a.jpg" style="margin-left: auto; margin-right: auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-team">
                        <br />
                        <h4>Church concert</h4>
                        <div class="membr-pic">
                            <img width="360" height="480" src="../images/activity2018a.jpg" style="margin-left: auto; margin-right: auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-team">
                        <br />
                        <h4>Church concert</h4>
                        <div class="membr-pic">
                            <img width="360" height="480" src="../images/activity2019b.jpg" style="margin-left: auto; margin-right: auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-team">
                        <br />
                        <h4>Church concert</h4>
                        <div class="membr-pic">
                            <img width="360" height="480" src="../images/certificate2020.jpg" style="margin-left: auto; margin-right: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Sectiion End -->
</body>
</html>