@{
    ViewData["Title"] = "Contact Us";
}

<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Main photo Section Begin -->
    <section class="main_photo-section">
        <div class="container">
            <div class="row">
                <div class="container" style="background-image: url(../images/UYOCover.png); width: 1100px; height: 400px;">
                    <h1 style="color:white">Contact Us</h1>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- Main photo Section End -->
    <!-- Contact Sectiion Begin -->
    <section class="contact-section">
        <br>
        <div class=container>
            <div class="row text-left">


                <div class="col-xl-6">
                    <h2>Application Form</h2>
                    <embed width="550" height="810" src="../images/UYO Application Form.pdf">
                </div>
                <div class="col-xl-6">
                    <div class="single-team">
                        <br />
                        <h3>St Andrews Anglican church</h3>
                        <div class="membr-pic">
                            <img width="540" height="370" src="../images/UYOJune2019.jpg">
                        </div>
                        <h3>St Matthews Anglican church</h3>
                        <div class="membr-pic">
                            <img width="540" height="370" src="../images/UYOSept2019.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <!-- Contact Sectiion End -->


        @model United_Youth_Orchestra_with_MVC.Models.Email

        @{
            ViewData["Title"] = "Contact Us";
        }

    <h4>Get Intrested? I'd Love to Hear from You</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Email">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="To" class="custom-control-label" runat="server"></label>
                        <input asp-for="To" class="form-control" runat="server" />
                        <span asp-validation-for="To" class="text-danger" runat="server"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="custom-control-label" runat="server"></label>
                        <input asp-for="Subject" class="form-control" runat="server" />
                        <span asp-validation-for="Subject" class="text-danger" runat="server"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="custom-control-label" runat="server"></label>
                        <textarea asp-for="Body" class="form-control" rows="3" cols="15" runat="server"></textarea>
                        <span asp-validation-for="Body" class="text-danger" runat="server"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Email" class="btn btn-primary" runat="server" />
                    </div>
                    <h5>@ViewBag.message</h5>
                </form>
            </div>
        </div>
    </section>
    <!-- Contact Sectiion End -->

</body>
</html>


