@{
    ViewData["Title"] = "Gallery";
}

<html lang="en">

<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Main photo Section Begin -->
    <section class="main_photo-section">
        <div class="container">
            <div class="row">
                <div class="container" style="background-image: url(../images/UYOCover.png); width: 1100px; height: 400px;">
                    <h1 style="color:white">Gallery</h1>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- Main photo Section End -->
    <!-- Gallery Section Begin -->
    <section class="gallery">
        <br>
        <div class="row">
            <br>
            <div class=container>
                <h2>Photos</h2>
                <br>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2019b.jpg" style="width:100%">
                            <h3>Oct 2019</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2019c.jpg" style="width:100%">
                            <h3>Oct 2019</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2019d.jpg" style="width:100%">
                            <h3>Oct 2019</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2019e.jpg" style="width:100%">
                            <h3>Oct 2019</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020a.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020b.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020c.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020d.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020e.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020g.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020h.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020i.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020j.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020k.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-img">
                            <img src="../images/oct2020l.jpg" style="width:100%">
                            <h3>Oct 2020</h3>
                        </div>
                    </div>
                </div>
                <br>
                <div class="column">
                    <h2>Music list</h2>
                    <img src="../images/music.jpg" style="margin-left:auto;margin-right:auto">
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery section End -->
</body>
</html>