@{
    ViewData["Title"] = "Home Page";
}


<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Main photo Section Begin -->
    <section class="main_photo-section">
        <div class="container">
            <div class="row">
                <div class="container" style="background-image: url(../images/UYOCover.png); width: 1120px; height: 400px;">
                    <h1 style="color:white">Welcome!</h1>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- Main photo Section End -->
    <!-- Content Section Begin -->
    <section class="content spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 about-text-warp">
                    <div>
                        <br>
                        <h2> Mission Statement</h2>
                        <br>
                        <h4>
                            On 14th Feburary, 2003, comprising around 30 members with ages from ~13 to ~23 years (high school age and up), the United Youth Orchestra (UYO) was formed.
                        </h4>
                        <br>
                        <h5 style="color: darkslategrey">
                            Since its formation, the orchestra has become the premier youth orchestra of the Waikato region, performing two or three concerts each year.
                            Our major concert, performed in the Gallagher Academy of Performing Arts Centre at the University of Waikato in Hamilton, is usually in mid-October.
                            We travelled to New Plymouth 19-20th September 2009 to take part in a joint concert with the Taranaki Youth Orchestra (TYO).
                            We went to Te Puke (Bay of Plenty) in 2006, 2010 and in 2012 and to New Plymouth in 2005, 2009 and in 2013 where we put on a joint concert with the TYO.
                            TYO came to Hamilton to take part in concerts with us in 2003, 2007 and in 2011.
                            In 2019, United Youth Orchestras and other three Orchestras had been together for their first ever combined camp at the Cambridge Avantidrome.
                        </h5>
                    </div>
                </div>
                <br>
                <div class="col-xl-4">
                    <br>
                    <iframe width="360" height="360" src="https://www.youtube.com/embed/wVut9MeZq0g"
                            frameborder="0" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="room-items">
                        <h2>Music Director</h2>
                        <img width="700" height="480" src="../images/Yoshi.jpg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-team">
                        <div class="membr-pic">
                            <h2>Yoshiki Tatsumi</h2>
                            <h5 style="color: darkslategrey">
                                Yoshi is the foundation music director of UYO.
                                Originally from Kobe, Japan, Yoshi studied brass performance, especially French horn and spent 10 years with a Tokyo civic wind orchestra as a conductor.
                                Arriving in New Zealand in 1990, Yoshi was music director of the Waikato Schools Orchestra and then Waikato Youth Orchestra from 1995 to 2002.
                                He completed conductors’ master classes under Nicholas Braithwaite and Miguel Harth-Bedoya in 1999 and 2000.
                                Yoshi was given a Civic Award (Hamilton) in 2003 in recognition of his contributions to youth music.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-team">
                        <div class="membr-pic">
                            <h2>Leader</h2>
                            <h5 style="color: darkslategrey">
                                Tina started to play violin at age of 6, under the tuition of Christine Polglase and Erica Colbert.
                                She participated several strings’ competitions and won First Prizes from 2013 to 2015.
                                She played in the school production orchestra for Waikato Diocesan School for Girls.
                                Tina joined UYO in 2015. She passed Trinity Grade 8 Violin Exam in 2018.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="room-items">
                        <h2>Tina Jiang</h2>
                        <img width="730" height="500" src="../images/Tina.jpg">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Content Section End -->
</body>
</html>