@{
    ViewData["Title"] = "Our Policy";
}

<html lang="en">

<head>
    <title>Our Policy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Main photo Section Begin -->
    <section class="main_photo-section">
        <div class="container">
            <div class="row">
                <div class="container" style="background-image: url(../images/UYOCover.png); width: 1120px; height: 400px;">
                    <h1 style="color:white">Our Policy</h1>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- Main photo Section End -->
    <!-- About Sectiion Begin -->
    <section class="about-section">
        <br>
        <div class="container-fluid">
            <div class="row text-left">
                <div class="col-xl-8 about-text-warp">
                    <div>

                        <h2>
                            Why united?
                        </h2>
                        <h5 style="color: darkslategrey">
                            - we are united in our enjoyment and appreciation of classical and other orchestral and chamber music;
                            </h5>
                        <h5 style="color: darkslategrey">
                            - we are united in our aim of helping young musicians of the Waikato to achieve their highest potential in music (as orchestral players, ensemble players, or as soloists);
                        </h5>
                        <h5 style="color: darkslategrey">
                            - we are united in bringing together young people of many different nationalities and cultures (we have more than ten countries represented in our ranks);
                        </h5>
                        <h5 style="color: darkslategrey">
                            - we are united in our desire to enjoy our music making and social time together.
                        </h5>
                            <br />
                            <h2>
                                Activities
                            </h2>
                            <h5 style="color: darkslategrey">
                                - We train young musicians (11-21 years old) through weekly rehearsals, 2 hours every Friday evening during the school terms, with extended rehearsals for concerts.
                            </h5>
                            <h5 style="color: darkslategrey">
                                - We perform with other music groups such as Youth Orchestra Waikato, Youth Philharmonic Tauranga, Taranaki Youth Orchestra, North Shore Youth Orchestra, etc.
                            </h5>
                            <h5 style="color: darkslategrey">
                                - We hold 3-4 public concerts annually.
                            </h5>
                            <h5 style="color: darkslategrey">
                                - We perform at rest home to share the classical music with the elderly.
                            </h5>
</div>
                </div>
                <div class="col-xl-4">

                    <div class="membr-pic">
                        <img width="360" height="580" src="~/images/Oct2020f.jpg" style="margin-left: auto; margin-right: auto;">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- About Sectiion End -->
</body>
</html>
